<% content_for :page_title do %>
Create Space - 
<% end %>
<div class="container">
<div class="page-header">
<h1>
New Space
<small>
  <%= @location.name %>, <%= @org.name %>
</small>
</h1>
</div>

<%= render 'form' %>

<div class="clearfix"></div>
<%= link_to "<span class=\"glyphicon glyphicon-ban-circle\" aria-hidden=\"true\"></span> Cancel".html_safe, admin_org_location_spaces_path(@location.org, @location), class: "btn btn-default" %>
</div>
