<div class="container">
  <h1>Welcome to HausWare</h1>
  <p>This is a beta product, still in progress!</p>
  

  <% if !authed_user %><%# ---- logged out ---- %>
  <p>For now, try <a href="/sessions/new">logging in</a>.</p>
  <% else %><%# ---- logged in ---- %>
  <p>Hi, <img src='<%= authed_user.picurl %>'>.  See <%= link_to 'your profile', user_path(authed_user) %>.</p>
  <% end %>
</div>