<% content_for :page_title do %>
Edit Settings - 
<% end %>
<div class="container">
  <div class="page-header">
    <h1>Editing Settings</h1>
  </div>

  <%= render 'form' %>

  <div class="clearfix"></div>
  <div class="pull-left">
    <%= link_to "<span class=\"glyphicon glyphicon-ban-circle\" aria-hidden=\"true\"></span> Cancel".html_safe, [:admin, @setting.org, @setting], class: "btn btn-default" %>
  </div>
</div>
