// Place all the styles related to the reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#reservation-indicator { 
  position:absolute;
  //  width: 13.5%; // set in-line so we can access it from javascript more easily
  //  height:1.2em; // set in-line so we can access it from javascript more easily
  background-color:green;
  border-radius:5px;
  opacity:0.5;
  
  visibility:hidden;
  //  right:0; bottom: 0; // (placed by javascript)
}

#reservation-indicator.validating {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
  
  background-color:#aaa;
  
  background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  -webkit-background-size: 40px 40px;
  background-size: 40px 40px;
}

#reservation-indicator.invalid {
  background-color:#f0ad4e;
}

body.controller-reservations .thumbnail a[data-toggle=modal] {
  color:#000;
  cursor: zoom-in;
}

body.controller-reservations h3 {
  font-weight:normal;
  text-align:center;
}
body.controller-reservations .thumbnail a:hover {
  text-decoration:none;
}
.week-scheduler-container {
  position:relative;
}

#reservation-indicator.error {
  background-color:red;
}
table.week-scheduler {
  width:100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
table.week-scheduler thead th {
  border-bottom: 1px solid #e6e5e6;
  text-align:center;
  font-weight:normal;
}
table.week-scheduler thead th:first-child {
  border: 0; 
}
table.week-scheduler td {
  width: 13.5%;
  text-align:center;
  border-left: 1px solid #e6e5e6;
  height: 1.2em;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
table.week-scheduler tr td:last-child {
  border-right: 1px solid #e6e5e6;
}
table.week-scheduler tbody th {
  text-align:right;
  color:#adadad;
  font-weight:normal;
  position:relative;
  font-size:83%;
}
table.week-scheduler tbody th span {
  right:5px;
  position:absolute;
  top:-0.7em;
}
tr.half-hour td {
  border-bottom: 1px solid #e6e5e6;
}

#day-and-time-selector li span.glyphicon { visibility:hidden; }
#day-and-time-selector li.doms-selected span.glyphicon { visibility:visible; }

td.today-cell {
  background-color: #effaff;
}